@page "/Client/Create"
@using BlazorApp.Models

<div class="row">
	<div class="col-lg-8">
		<h1 class="mb-5">New client</h1>

		<div class="row mb-3">
			<label class="col-md-4 col-form-label">First Name</label>
			<div class="col-md-8">
				<input class="form-control" @bind="ClientData.FirstName" />
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-md-4 col-form-label">Last Name</label>
			<div class="col-md-8">
				<input class="form-control" @bind="ClientData.LastName" />
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-md-4 col-form-label">Email</label>
			<div class="col-md-8">
				<input class="form-control" @bind="ClientData.Email" />
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-md-4 col-form-label">Phone</label>
			<div class="col-md-8">
				<input class="form-control" @bind="ClientData.Phone" />
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-md-4 col-form-label">Address</label>
			<div class="col-md-8">
				<input class="form-control" @bind="ClientData.Address" />
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-md-4 col-form-label">Status</label>
			<div class="col-md-8">
				<select class="form-select" @bind="ClientData.Status">
					<option value="New">New</option>
					<option value="Parmanent">Parmanent</option>
					<option value="Lead">Lead</option>
					<option value="Occasional">Occasional</option>
					<option value="Inactive">Inactive</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-4 col-md-4 d-grid">
				<button class="btn btn-primary" @onclick="SaveClient">Submit</button>
			</div>
			<div class="col-md-4 d-grid">
				<a class="btn btn-outline-primary" href="/Clients">Cancel</a>
			</div>
		</div>
	</div>
</div>

@inject HttpClient http
@inject NavigationManager navManager
@code {
	public ClientDto ClientData { set; get; } = new();

	protected async Task SaveClient()
	{
		var response = await http.PostAsJsonAsync("https://localhost:4000/api/Clients", ClientData);
		if(response.IsSuccessStatusCode)
		{
			navManager.NavigateTo("/Clients");
		}
		else
		{
			var strResponse = await response.Content.ReadAsStringAsync();
			Console.WriteLine("Json Response: \n" + strResponse);
		}
	}
}
